			{% load staticfiles %}
			<div class="row-fluid"style = "margin-left:4px;">
			{% for groupname in groupnames %}
			{% if groupname.name == 'MISSEDCALL' %}
				<div class="span3 box">
                  <div class="box-header">
                    <div class="title">
                      <!-- <i class="icon-group"></i> -->
                      Missed Calls
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="box-content box-statistic">
                      <div class="text-success align-right"><img src="{% static 'assets/images/phone_missed.png' %}" style ="height: 29px;float: right;" /></div>
                        <h3 class="title text-error">{{ today_missedcall_count }}</h3>
                        <small>No of Missed Calls today</small>

                      </div>
                      <div class="box-content box-statistic">
                      <div class="text-success align-right"><img src="{% static 'assets/images/phone_missed.png' %}" style ="height: 29px;float: right;" /></div>
                        <h3 class="title text-warning">{{ total_missedcall_count }}</h3>
                        <small>No of total Missed Calls</small>

                      </div>
                      <div class="box-content box-statistic">
                        <h4 class="title text-success">{{ state_name }}</h4>
                        <small> Mostly call from  area</small>
                        <div class="text-success icon-flag-alt align-right"></div>
                      </div>
                      <div class="box-content box-statistic">
                        <h4 class="title text-success">{{ missedcall_peaktime }}</h4>
                        <small>Peak Time of Missed Calls</small>
                        <div class="text-success icon-time align-right"></div>
                      </div>
                    </div>
                  </div>
                </div>
                {% elif groupname.name == 'INCOMINGSMS' %}
                <div class="span3 box">
                  <div class="box-header">
                    <div class="title">
                      <!-- <i class="icon-group"></i> -->
                      Incoming SMS
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="box-content box-statistic">
                        <h3 class="title text-error">{{ today_incommingsms_count }}</h3>
                        <small> No of Msg's today</small>
                        <div class="text-error icon-user align-right"></div>
                      </div>
                      <div class="box-content box-statistic">
                        <h3 class="title text-warning">{{ total_incommingsms_count }}</h3>
                        <small>No of total Msg's</small>
                        <div class="text-warning icon-book align-right"></div>
                      </div>
                      <div class="box-content box-statistic">
                        <h3 class="title text-primary">12:21</h3>
                        <small> Mostly from Bangalore area</small>
                        <div class="text-primary icon-flag-alt align-right"></div>
                      </div>
                      <div class="box-content box-statistic">
                        <h3 class="title text-warning">41 000</h3>
                        <small>Peak time of Incoming Msg's</small>
                        <div class="text-warning icon-time align-right"></div>
                      </div>
                    </div>
                  </div>
                </div>
                {% elif groupname.name == 'REFERRAL' %}
                <div class="span3 box">
                  <div class="box-header">
                    <div class="title">
                      <!-- <i class="icon-comments"></i> -->
                      Referral App
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="box-content box-statistic">
                        <h3 class="title text-error">{{ referral_customer_infos_count }}</h3>
                        <small>No of Referral's requested</small>
                        <div class="text-error icon-plus align-right"></div>
                      </div>
                      <div class="box-content box-statistic">
                        <h3 class="title text-success">{{ Refered_list_count }}</h3>
                        <small>Referral's received</small>
                        <div class="text-success icon-ok align-right"></div>
                      </div>
                      <div class="box-content box-statistic">
                        <h3 class="title text-info">{{ percentage }}%</h3>
                        <small>Percentage</small>
                        <div class="text-info icon-time align-right"></div>
                      </div>
                      <div class="box-content box-statistic">
                        <h3 class="title text-success">{{ multi_refered_list_count }}</h3>
                        <small>Multiple Referral's </small>
                        <div class="text-success icon-ok align-right"></div>
                      </div>
                    </div>
                  </div>
                </div>
                 {% elif groupname.name == 'CALL LIST' %}
                <div class="span3 box">
                  <div class="box-header">
                    <div class="title">
                      <!-- <i class="icon-comments"></i> -->
                      CALL LIST
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="box-content box-statistic">
                        <h3 class="title text-success">{{ today_call_count }}</h3>
                        <small>No of Call's Today</small>
                        <div class="text-success icon-phone align-right"></div>
                      </div>
                      <div class="box-content box-statistic">
                        <div class="text-success align-right"><img src="{% static 'assets/images/phone_missed.png' %}" style ="height: 29px;float: right;" /></div>
                        <h3 class="title text-error">{{ total_api_missedcall_count }}</h3>
                        <small>No of Missedcall's Today</small>
                      </div>
                      <div class="box-content box-statistic">
                        <h4 class="title text-success">{{ peaktime }}</h4>
                        <!-- <h4>{{ peaktime }}</h4> -->
                        <small>Peak Time</small>
                        <div class="text-success icon-time align-right"></div>
                      </div>
                      <div class="box-content box-statistic">
                        <h3 class="title text-success">{{ no_of_call }}</h3>
                        <small>No of call's PeakTime </small>
                        <div class="text-success icon-ok align-right"></div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
