<div class='modal fade' id='modal-example' tabindex='-1'>
                      <div class='modal-dialog'>
                        <div class='modal-content'>
                          <div class='modal-header'>
                            <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                            <h4 class='modal-title' id='myModalLabel'>Credits</h4>
                          </div>
                          {% for groupname in groupnames %}
		                          {% if groupname.name == 'REFERRAL' %}
                          <div class='modal-body'>
                            <div class='box-content'>
		                    <div class='row'>
		                      <div class='col-sm-12'>
		                        <div class='tabbable'>
		                          <ul class='nav nav-tabs'>

		                            <li class='active'>
		                              <a data-toggle='tab' href='#tab1'>
		                                <i class='icon-indent-left'></i>
		                                Referral
		                              </a>
		                            </li>
		                            <!-- <li>
		                              <a data-toggle='tab' href='#tab2'>
		                                <i class='icon-edit text-red'></i>
		                                Missedcall
		                              </a>
		                            </li> -->
		                            {% elif groupname.name == 'INCOMINGSMS' %}
									<li>
		                              <a data-toggle='tab' href='#tab3'>
		                                <i class='icon-edit text-red'></i>
		                                	Incoming Sms
		                              </a>
		                            </li>
									{% endif %}

          							{% endfor %}
		                          </ul>
		                          {% for groupname in groupnames %}
		                          	{% if groupname.name == 'REFERRAL' %}
		                          <div class='tab-content'>

		                            <div class='tab-pane active' id='tab1'>

		                            	{% if not credit_masters_list %}
		                            			<div class='col-sm-6'>
		                            					<div class='box-content box-statistic red-background'>

							                           			<small>Credits</small><h3 class='title text-success'>Not Assigned</h3>
							                           			<div class=" text-primary  icon-inr align-left" style="margin-left: 199px"></div>


		                            					</div>


				                            		<div class='box-content box-statistic red-background'>

						                           			<small>Validity</small><h3 class='title text-success'>Not Assigned</h3>
						                           			<div class="text-primary icon-time align-left" style="margin-left: 199px"></div>


                            						</div>
                             				 </div>
                            		 {% else %}
                            				<div class='col-sm-6'>
                            					<div class='box-content box-statistic red-background'>
				                            		{% for credit_data in credit_masters_list %}
					                           			<small>Credits</small><h3 class='title text-success'>{{ credit_data.current_credits }}</h3>
					                           			<div class="text-primary  icon-inr align-left" style="margin-left: 199px"></div>

				                              		 {% endfor %}
                            					</div>

				                            		<div class='box-content box-statistic red-background'>
					                            		{% for credit_data in credit_masters_list %}
						                           			<small>Validity</small><h3 class='title text-success'>{{ credit_data.to_validity }}</h3>
						                           			<div class="text-primary icon-time align-left" style="margin-left: 199px"></div>

                               							{% endfor %}
                            						</div>
                             				 </div>

                            			{% endif %}






                            </div>
                            <!-- <div class='tab-pane' id='tab2'>

                            </div> -->
                            {% elif groupname.name == 'INCOMINGSMS' %}
                            <div class='tab-pane' id='tab3'>
                              {% if not isms_credit_masters_list %}
                            			<div class='col-sm-6'>
                            					<div class='box-content box-statistic red-background'>

					                           			<small>Credits</small><h3 class='title text-success'>Not Assigned</h3>
					                           			<div class=" text-primary  icon-inr align-left" style="margin-left: 199px"></div>


                            					</div>


				                            		<div class='box-content box-statistic red-background'>

						                           			<small>Validity</small><h3 class='title text-success'>Not Assigned</h3>
						                           			<div class="text-primary icon-time align-left" style="margin-left: 199px"></div>


                            						</div>
                             				 </div>
                            		 {% else %}
                            				<div class='col-sm-6'>
                            					<div class='box-content box-statistic red-background'>
				                            		{% for credit_data in isms_credit_masters_list %}
					                           			<small>Credits</small><h3 class='title text-success'>{{ credit_data.current_credits }}</h3>
					                           			<div class="text-primary  icon-inr align-left" style="margin-left: 199px"></div>

				                              		 {% endfor %}
                            					</div>

				                            		<div class='box-content box-statistic red-background'>
					                            		{% for credit_data in isms_credit_masters_list %}
						                           			<small>Validity</small><h3 class='title text-success'>{{ credit_data.to_validity }}</h3>
						                           			<div class="text-primary icon-time align-left" style="margin-left: 199px"></div>

                               							{% endfor %}
                            						</div>
                             				 </div>

                            			{% endif %}
                            			{% endif %}

          							{% endfor %}



                            </div>

                          </div>
                        </div>
                      </div>

                          </div></div></div></div>

