{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Teleduce |  tDashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta content='text/html;charset=utf-8' http-equiv='content-type'>
    <meta content='Flat administration template for Twitter Bootstrap. Twitter Bootstrap 3 template with Ruby on Rails support.' name='description'>

    <!-- / bootstrap [required] -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/bootstrap/bootstrap.css' media="all" %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/bootstrap/bootstrap-responsive.css' %}" media="all" >
    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/light-theme.css' media="all" id="color-settings-body-color" %}"></head>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/demo.css' media="all"  %}">
    <link href="{% static 'assets/stylesheets/theme-colors.css' media="all" rel="stylesheet" type="text/css" %}" />
    <!-- / START - page related stylesheets [optional] -->
    <link href="{% static 'assets/stylesheets/plugins/tabdrop/tabdrop.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/stylesheets/plugins/jgrowl/jquery.jgrowl.min.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/stylesheets/jquery/jquery_ui.css' %}" media="all" rel="stylesheet" type="text/css" />
    <!-- / END - page related stylesheets [optional] -->
 </head>
  <body class='contrast-red'>
		{% include "header.html"  %}
    <div id='wrapper'>
      <div id='main-nav-bg'></div>
      <nav id='main-nav'>
        <div class='navigation'>
          <div class='search'>
            <form action='search_results.html' method='get'>
              <div class='search-wrapper'>
                <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
                <button class='btn btn-link icon-search' name='button' type='submit'></button>
              </div>
            </form>
          </div>
          {% include "menu.html"  %}
          </div>
          </nav>
      <section id='content'>
        <div class='container'>
          <div class='row' id='content-wrapper'>
            <div class='col-xs-12'>

				{% include "analytics.html"  %}

            </div>
          </div>
          {% include "footer.html"  %}

        </div>
      </section>
    </div>
    <!-- / jquery [required] -->
    <script src="{% static 'knockout-3.1.0.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/javascripts/jquery/jquery.min.js'%}" type="text/javascript"></script>
    <!-- / jquery mobile (for touch events) -->
    <script src="{% static 'assets/javascripts/jquery/jquery.mobile.custom.min.js'%}" type="text/javascript"></script>
    <!-- / jquery migrate (for compatibility with new jquery) [required] -->
    <script src="{% static 'assets/javascripts/jquery/jquery-migrate.min.js'%}" type="text/javascript"></script>
    <!-- / jquery ui -->
    <script src="{% static 'assets/javascripts/jquery/jquery-ui.min.js'%}" type="text/javascript"></script>
    <!-- / jQuery UI Touch Punch -->
    <script src="{% static 'assets/javascripts/plugins/jquery_ui_touch_punch/jquery.ui.touch-punch.min.js'%}" type="text/javascript"></script>
    <!-- / bootstrap [required] -->
    <script src="{% static 'assets/javascripts/bootstrap/bootstrap.js'%}" type="text/javascript"></script>
    <!-- / modernizr -->
    <script src="{% static 'assets/javascripts/plugins/modernizr/modernizr.min.js'%}" type="text/javascript"></script>
    <!-- / retina -->
    <script src="{% static 'assets/javascripts/plugins/retina/retina.js'%}" type="text/javascript"></script>
    <!-- / theme file [required] -->
    <script src="{% static 'assets/javascripts/theme.js'%}" type="text/javascript"></script>
    <!-- / demo file [not required!] -->
    <script src="{% static 'assets/javascripts/demo.js'%}" type="text/javascript"></script>
    <script src="{% static 'knockout-3.1.0.js' %}" type="text/javascript"></script>
    <!-- / START - page related files and scripts [optional] -->

    <!-- / END - page related files and scripts [optional] -->
     <!-- / START -Table page related files and scripts [optional]-->
    <script src="{% static 'assets/javascripts/plugins/datatables/jquery.dataTables.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/javascripts/plugins/datatables/jquery.dataTables.columnFilter.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/javascripts/plugins/datatables/dataTables.overrides.js'%}" type="text/javascript"></script>
    <!-- / END - Table page related files and scripts [optional] -->
    <!-- / START - Widget page related files and scripts [optional] -->
			    <script src="{% static 'assets/javascripts/plugins/slimscroll/jquery.slimscroll.min.js'%}" type="text/javascript"></script>
   <!-- / END - page related files and scripts [optional] -->
   <!-- / START - pop up page related files and scripts [optional] -->
			    <script src="{% static 'assets/javascripts/plugins/tabdrop/bootstrap-tabdrop.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/bootbox/bootbox.min.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/jgrowl/jquery.jgrowl.min.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/typeahead/typeahead.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/timeago/jquery.timeago.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/nestable/jquery.nestable.js'%}" type="text/javascript"></script>
   <!-- / END - pop up page related files and scripts [optional] -->
				{% include "credits.html"  %}


  </body>
</html>
