{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Teleduce |  tDashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta content='text/html;charset=utf-8' http-equiv='content-type'>
    <meta content='Flat administration template for Twitter Bootstrap. Twitter Bootstrap 3 template with Ruby on Rails support.' name='description'>

    <!-- / bootstrap [required] -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/bootstrap/bootstrap.css' media="all" %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/light-theme.css' media="all" id="color-settings-body-color" %}"></head>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/demo.css' media="all"  %}">
    <link href="{% static 'assets/stylesheets/theme-colors.css' media="all" rel="stylesheet" type="text/css" %}" />
    <!-- / START - page related stylesheets [optional] -->
    <link href="{% static 'assets/stylesheets/plugins/tabdrop/tabdrop.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/stylesheets/plugins/jgrowl/jquery.jgrowl.min.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/stylesheets/jquery/jquery_ui.css' %}" media="all" rel="stylesheet" type="text/css" />
    <!-- / END - page related stylesheets [optional] -->
 </head>
  <body class='contrast-red'>
	{% include "header.html"  %}
    <div id='wrapper'>
      <div id='main-nav-bg'></div>
      <nav id='main-nav'>
        <div class='navigation'>
          <div class='search'>
            <form action='search_results.html' method='get'>
              <div class='search-wrapper'>
                <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
                <button class='btn btn-link icon-search' name='button' type='submit'></button>
              </div>
            </form>
          </div>
          {% include "menu.html"  %}
          </div>
          </nav>
      <section id='content'>
        <div class='container'>
          <div class='row' id='content-wrapper'>
            <div class='col-xs-12'>

            	<div class='row'>
                <div class='col-sm-12'>
                  <div class='page-header'>
                    <h1 class='pull-left'>
                      <i class='icon-bullhorn'></i>
                      <span>FAQ</span>
                    </h1>
                    <div class='pull-right'>
                      <ul class='breadcrumb'>
                        <li>
                          <a href='#'>
                            <i class='icon-bar-chart'></i>
                          </a>
                        </li>
                        <li class='separator'>
                          <i class='icon-angle-right'></i>
                        </li>
                        <li class='active'>FAQ</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class='faq'>
                <div class='row'>
                  <div class='col-sm-12'>
                    <div class='tabbable'>
                      <ul class='nav nav-responsive nav-tabs'>
                        <li class='active'>
                          <a data-toggle='tab' href='#faq1'>
                            <i class='icon-cloud-upload'></i>
                            Referral
                          </a>
                        </li>
                        <li class=''>
                          <a data-toggle='tab' href='#faq2'>
                            <i class='icon-angle-left'></i>
                            Missedcall
                          </a>
                        </li>
                        <li class=''>
                          <a data-toggle='tab' href='#faq3'>
                            <i class='icon-desktop'></i>
                            Inbound SMS
                          </a>
                        </li>
                        <!--<li class=''>
                          <a data-toggle='tab' href='#faq4'>
                            <i class='icon-hospital'></i>
                            Vivamus eget lacus augue
                          </a>
                        </li>
                         <li class=''>
                          <a data-toggle='tab' href='#faq5'>
                            <i class='icon-double-angle-right'></i>
                            Sed vitae suscipit
                          </a>
                        </li>
                        <li class=''>
                          <a data-toggle='tab' href='#faq6'>
                            <i class='icon-circle-blank'></i>
                            Consectetur est
                          </a>
                        </li>
                        <li class=''>
                          <a data-toggle='tab' href='#faq7'>
                            <i class='icon-cloud-upload'></i>
                            Dolor sit
                          </a>
                        </li>
                        <li class=''>
                          <a data-toggle='tab' href='#faq8'>
                            <i class='icon-building'></i>
                            Vivamus eget lacus augue
                          </a>
                        </li>
                        <li class=''>
                          <a data-toggle='tab' href='#faq9'>
                            <i class='icon-laptop'></i>
                            Sed vitae suscipit
                          </a>
                        </li>
                        <li class=''>
                          <a data-toggle='tab' href='#faq10'>
                            <i class='icon-double-angle-up'></i>
                            Consectetur est
                          </a>
                        </li> -->
                      </ul>
                      <div class='tab-content'>
                        <form action='#' method='get'>
                          <div class='form-group'>
                            <div class='input-group controls-group'>
                              <input value="" placeholder="Search..." class="form-control" name="q" type="text" />
                              <span class='input-group-btn'>
                                <button class='btn' type='submit'>
                                  <i class='icon-search'></i>
                                </button>
                              </span>
                            </div>
                          </div>
                        </form>
                        <div class='tab-pane active' id='faq1'>
                          <div class='panel-group' id='accordion1'>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion1' data-toggle='collapse' href='#collapse1-1'>
                                  <div class='text-contrast'>How To Login</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse1-1'>
                                <div class='panel-body'>
                                   Recusandae assumenda libero cupiditate vero ipsam perspiciatis doloremque et ut architecto. Qui maiores et rem at earum a est dolor. Omnis rem et minima voluptatem repellendus id quae soluta ipsam quasi. Cumque quis aut ut voluptatum in qui qui sed. Quia explicabo atque debitis qui nisi et distinctio maxime. Hic corrupti consequatur natus reiciendis consequatur. Ducimus architecto placeat distinctio magnam omnis. Occaecati sit nisi qui ipsa fuga velit dolorem eius delectus. Similique nisi dignissimos explicabo voluptas accusantium. Dolor quia ex ullam voluptas sit. Molestias exercitationem occaecati est eum quis et ut quidem iure aut temporibus autem. Natus placeat ad quos adipisci. Est facilis sint eos deserunt. Repudiandae quis est consequatur voluptatem saepe autem sint. Nostrum natus accusantium nam laboriosam voluptas incidunt expedita dolor doloribus unde iste. Velit vitae cum velit asperiores accusamus praesentium. Omnis in beatae itaque fugiat quo id odio doloremque quidem vel. Qui quia qui libero eaque nemo delectus voluptatem. Vel velit ipsam est consequatur doloremque assumenda eum quam. Eos non aut dolorem ad. Quaerat sit nesciunt consequatur dolor nobis aspernatur velit est aut voluptatem et. Mollitia dolores aut et exercitationem. Occaecati aut molestiae quia tempora ut nisi molestias sequi et. Saepe unde inventore molestias officia fugit ea delectus corrupti hic iusto nobis sed. Quia iste quasi officiis voluptatum. Quos itaque eos deleniti consectetur. Aperiam in quos numquam delectus non natus ut perferendis veritatis. Illum nostrum voluptas aut. Aut aut et repellat earum est dolorum nam quidem id et
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion1' data-toggle='collapse' href='#collapse1-2'>
                                  <div class='text-contrast'>Add Customer</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse1-2'>
                                <div class='panel-body'>
                                  Recusandae assumenda libero cupiditate vero ipsam perspiciatis doloremque et ut architecto. Qui maiores et rem at earum a est dolor. Omnis rem et minima voluptatem repellendus id quae soluta ipsam quasi. Cumque quis aut ut voluptatum in qui qui sed. Quia explicabo atque debitis qui nisi et distinctio maxime. Hic corrupti consequatur natus reiciendis consequatur. Ducimus architecto placeat distinctio magnam omnis. Occaecati sit nisi qui ipsa fuga velit dolorem eius delectus. Similique nisi dignissimos explicabo voluptas accusantium. Dolor quia ex ullam voluptas sit. Molestias exercitationem occaecati est eum quis et ut quidem iure aut temporibus autem. Natus placeat ad quos adipisci. Est facilis sint eos deserunt. Repudiandae quis est consequatur voluptatem saepe autem sint. Nostrum natus accusantium nam laboriosam voluptas incidunt expedita dolor doloribus unde iste. Velit vitae cum velit asperiores accusamus praesentium. Omnis in beatae itaque fugiat quo id odio doloremque quidem vel. Qui quia qui libero eaque nemo delectus voluptatem. Vel velit ipsam est consequatur doloremque assumenda eum quam. Eos non aut dolorem ad. Quaerat sit nesciunt consequatur dolor nobis aspernatur velit est aut voluptatem et. Mollitia dolores aut et exercitationem. Occaecati aut molestiae quia tempora ut nisi molestias sequi et. Saepe unde inventore molestias officia fugit ea delectus corrupti hic iusto nobis sed. Quia iste quasi officiis voluptatum. Quos itaque eos deleniti consectetur. Aperiam in quos numquam delectus non natus ut perferendis veritatis. Illum nostrum voluptas aut. Aut aut et repellat earum est dolorum nam quidem id et
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion1' data-toggle='collapse' href='#collapse1-3'>
                                  <div class='text-contrast'>Upload File</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse1-3'>
                                <div class='panel-body'>
                                  Vel enim beatae exercitationem et ducimus est sit explicabo consequatur cupiditate. Aliquam et et dolore ut explicabo inventore minima. Suscipit officiis doloribus enim ipsum veritatis sit alias officiis aspernatur quaerat quidem. Repudiandae id voluptate repellendus quisquam tempora sit autem. Adipisci aut sapiente fuga nihil nostrum. Explicabo quod ut eos odio eum quisquam dolorum. Aliquid officia quam vitae quod ut dolorum aut odit minus neque sunt. Magnam dolor tenetur ea dolore non qui nulla quia ratione animi. Et illo ratione ex quaerat et cupiditate dolorum aut fugiat quae at. Praesentium ullam odio aut exercitationem et temporibus aperiam sequi non iste et. Expedita et est expedita est nulla natus voluptatum. Dolorem eveniet rerum nesciunt qui ut. Natus aut quae est sint doloribus cupiditate eius sed molestiae praesentium suscipit laborum est. Asperiores quae architecto laudantium repellendus nemo ad suscipit. Et magni est omnis sint quos voluptatum id voluptas blanditiis excepturi cumque velit harum voluptatum. Iure maxime maxime dolorem quod eaque est quaerat. Nisi modi temporibus doloremque soluta. Dolorum maiores aut tempore modi suscipit neque reiciendis porro sint numquam sit rem qui voluptas. Saepe dolor rerum explicabo nam
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion1' data-toggle='collapse' href='#collapse1-7'>
                                  <div class='text-contrast'>Rem soluta est ab est</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse1-7'>
                                <div class='panel-body'>
                                  Sequi magni et accusantium debitis fugit. Fugiat dolores illum consequatur sit et quas delectus ut debitis ipsum ducimus odit molestias et. Voluptas rerum optio dignissimos ut voluptate sit in earum ut aut hic tempora iure velit. Et culpa totam iusto consequatur amet nihil et quam laudantium. Voluptates doloremque vel repellat. Rerum odit tempora ea aut a quia aliquam assumenda. Eum pariatur corporis omnis blanditiis quae temporibus voluptatem eum et et sed unde. Veritatis eos deserunt facilis voluptas voluptatem sed magnam temporibus soluta impedit. Animi explicabo quos dolorem vel nihil ut nulla odit et. Sint id consequatur praesentium id dolor voluptas deserunt non iste ipsam aut ipsam fugit qui. Facere quis earum esse cum enim deleniti magni qui et vel modi est fugiat. Placeat sequi nisi cum architecto iusto sit ipsum totam. Quis ullam deleniti ut qui consequatur quo mollitia. Incidunt commodi beatae error fugit veritatis quaerat reprehenderit temporibus iste aliquam vero in. Minima consequatur harum maiores. Consequatur quidem vero aspernatur similique quia officia sint corrupti. Itaque quasi voluptas magnam. Et beatae quia atque vel. Facilis quae illum debitis dolores eligendi porro. Quidem soluta omnis quia unde culpa at. Laboriosam quasi deserunt eius magnam. Minus consequatur maiores eius temporibus eaque facilis impedit. Est qui quo quis non qui exercitationem aliquam quibusdam. Corporis qui aut est molestias
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion1' data-toggle='collapse' href='#collapse1-8'>
                                  <div class='text-contrast'>Velit eius magni in delectus ut nihil delectus porro excepturi cupiditate placeat non est eum</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse1-8'>
                                <div class='panel-body'>
                                  Quas similique omnis cupiditate et distinctio et molestiae voluptatem sit adipisci totam non nostrum officia. Nisi ut non autem quas ab autem ullam sed. Quia blanditiis fugit cumque corporis dicta debitis quam. Nobis corrupti rerum inventore assumenda suscipit quasi aut aut atque consequatur et ut voluptates. Ea dicta possimus totam quis quibusdam nisi deleniti ipsum unde vel in. Voluptatum ipsam ipsum dolorum dolor quo eligendi dignissimos nihil. Quisquam voluptatibus dicta vero quia accusantium voluptatum non sed ea. Omnis ea nihil fuga. Culpa consequatur inventore architecto repellat numquam laudantium omnis delectus. Eos et sint quia vero dolores maxime ipsa modi sequi accusamus ullam eveniet cum nisi. Vel sed sed dicta eos eligendi. Optio id rerum fugit omnis ut debitis. Quisquam laudantium dolorem quasi possimus sunt
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class='tab-pane ' id='faq2'>
                          <div class='panel-group' id='accordion2'>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion2' data-toggle='collapse' href='#collapse2-1'>
                                  <div class='text-contrast'>Molestiae mollitia ipsum explicabo et id eius nesciunt modi aliquid laborum magnam</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse2-1'>
                                <div class='panel-body'>
                                  Eum voluptas culpa delectus qui aut et qui nostrum voluptatem quia quo non natus. Expedita deserunt ex sunt omnis et vel sint. Commodi libero similique cum praesentium hic maxime sit mollitia odit. Aliquid harum non minus tempore quia ea nam. Veniam voluptatem vel natus molestiae veniam dolorem. Voluptas esse doloribus enim dolor velit sunt qui voluptas asperiores. Cum molestiae minus incidunt molestiae accusantium odit ea velit nulla ut molestias eveniet. Sit doloremque aliquid quae eos vel a in a natus culpa facilis dolore. Qui sit dolore labore et. Similique quo unde architecto aperiam voluptas pariatur. Et quis quia est id quibusdam iste quis. Fuga ea reiciendis dolorem. Est dolorem nulla consequatur nemo ut ea incidunt dolore architecto sint mollitia temporibus. Voluptatibus inventore accusamus tenetur nisi quae. Repellat eveniet est quod nostrum labore. Ad ut illo at. Rerum laborum molestias molestiae quidem porro qui dolorum laboriosam aut impedit aut quam alias animi. Dignissimos repudiandae vero ea quae facere amet sint magnam aut est accusamus fugit provident. Vel ipsam laudantium at reiciendis. Voluptas qui et aliquam rerum voluptas voluptas repellendus magnam corporis cumque accusamus ea
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion2' data-toggle='collapse' href='#collapse2-2'>
                                  <div class='text-contrast'>Sit qui exercitationem laudantium eligendi dolores</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse2-2'>
                                <div class='panel-body'>
                                  Delectus molestias qui illo perferendis odit blanditiis rem dignissimos eveniet. Sequi eos dolores dolorem beatae molestiae ea iure natus tempora vel rerum dolor sint. Soluta ea fuga voluptatem id dolore dicta et vitae. Modi autem molestias pariatur voluptatem nihil. Porro neque fugiat iste incidunt quidem esse eum cum aut repudiandae eligendi nulla. Rem dolor odit sit fuga facere quae harum ab eum et. Quod aliquam exercitationem quia ad est distinctio voluptas. Error quia quo est voluptates minima mollitia sed. Tempore occaecati non accusantium enim fuga soluta magni. Eum aliquid sit dolor ut. Illum excepturi consequuntur earum omnis quaerat totam officiis architecto velit eos. Suscipit eos qui enim odit aut beatae hic. Molestias et aliquid voluptas voluptatem dolorem alias perspiciatis voluptas et minima distinctio. Ullam rem doloribus ea impedit quia. Non ut debitis odit ipsam explicabo necessitatibus et magni inventore dolorum eveniet
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion2' data-toggle='collapse' href='#collapse2-3'>
                                  <div class='text-contrast'>In voluptas a facere</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse2-3'>
                                <div class='panel-body'>
                                  Tempora quisquam deleniti incidunt laborum temporibus repudiandae et quo perspiciatis dolorem iure qui et. Qui tempore soluta sunt. Rerum deleniti et placeat. Reiciendis odio qui est quaerat vel dolorem voluptas ut voluptatem nesciunt ab suscipit. Omnis tempora qui in et sequi ab repellendus nihil dicta praesentium. Enim et sunt ab. Cumque qui provident ut ut dignissimos eveniet sunt. Amet laborum hic aspernatur cum ea neque quidem id. Provident pariatur voluptatem aut quam ratione voluptates molestiae est eos tenetur. Ea tempore omnis libero fuga. Veritatis repellendus vero voluptatibus laboriosam et quae eum suscipit molestiae. Fugit vero eaque cupiditate ut cum dignissimos dolores quidem dolor in dolor magnam. Ipsam facere alias doloribus vel blanditiis. Aspernatur dolorem ea rerum dolores quia dolore cupiditate culpa necessitatibus illum soluta. Qui libero unde quidem voluptate eligendi explicabo autem laboriosam commodi rem rerum nisi. Cumque placeat veritatis qui nihil a pariatur consequatur quia repellat aut laborum rem. Saepe consequatur ipsam fuga provident saepe vel. Quisquam ut sunt hic. Sequi porro minima quo eos repellat totam vel ullam cumque vero
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion2' data-toggle='collapse' href='#collapse2-4'>
                                  <div class='text-contrast'>Sunt quia ex corrupti</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse2-4'>
                                <div class='panel-body'>
                                  Molestias aspernatur cum illum pariatur officiis iste odio repellat sequi qui aut inventore tenetur. Sed molestias est laborum ratione et iusto. Omnis consequatur eius sit eum sed sed quas accusamus quo et sunt quia tempore. Error iste aut expedita facere et dolor enim animi tempore molestiae est qui. Ipsam dolore voluptatum adipisci excepturi laborum veniam rem omnis animi qui. Non beatae magni saepe mollitia et repellendus. Consectetur rerum molestiae qui sit itaque saepe non. Explicabo officiis voluptatibus ipsum dolorum. Perferendis sit delectus et. Libero quis facilis totam qui. Ex eum ut dolorum voluptates dolor ea facilis vel ipsa. Magnam omnis fugiat laudantium. Sunt non et quo quibusdam quaerat et aperiam voluptatibus voluptatum aut autem reiciendis alias. Esse sit inventore veniam iste dolores eius tempore illo unde quidem. Earum iusto tempora minima rerum est animi odio. Ut repudiandae consectetur facere consequatur. Nemo excepturi rerum veniam et corrupti id magnam quos vitae est expedita aut saepe. Iusto dolor esse earum nemo dolore. Optio quae hic ut et expedita et eaque quia inventore nihil in quidem eos sunt. Magnam mollitia reiciendis voluptates in qui velit. Aliquid quia perferendis asperiores nobis nulla autem ut eligendi libero
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion2' data-toggle='collapse' href='#collapse2-5'>
                                  <div class='text-contrast'>Culpa et qui provident expedita asperiores aliquam magnam quia autem</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse2-5'>
                                <div class='panel-body'>
                                  Deserunt voluptas dolorem incidunt animi ducimus dolores quia ratione perspiciatis aut. Nobis unde voluptatem totam officia aliquam occaecati explicabo modi eos minima harum. Ipsam eveniet voluptatibus et totam praesentium iusto molestiae ea et. Id fugiat esse provident omnis in sunt rerum aut assumenda ut aut dignissimos velit. Incidunt omnis quo qui veniam. Quam quisquam consequatur qui eum. Ut perferendis maiores id. Omnis harum magnam ut repudiandae officia ab accusantium. Animi veritatis enim ea labore ut aut vitae quis natus et est exercitationem unde. Laboriosam fuga placeat fugit aliquid nesciunt. Quia quaerat quam temporibus nostrum dolorem quis odit tenetur cum maxime libero optio aut voluptatem. Libero soluta maiores quod quae quia temporibus. Doloremque non in quam rerum quia. Laudantium quia sint et fuga delectus cum rerum impedit consectetur nobis ut. Ex molestias ut ad consequuntur ad dolores cum officiis. Rem libero quia ratione velit commodi. Doloremque ut beatae placeat repellat. Est harum libero porro incidunt mollitia inventore nisi sapiente exercitationem voluptatum quis aliquid voluptas voluptatum. Consequatur quibusdam quisquam eius dolore magnam provident blanditiis recusandae ea
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>
                        <div class='tab-pane ' id='faq3'>
                          <div class='panel-group' id='accordion3'>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion3' data-toggle='collapse' href='#collapse3-1'>
                                  <div class='text-contrast'>Quas pariatur officiis sequi libero quo porro sint</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse3-1'>
                                <div class='panel-body'>
                                  Accusamus omnis soluta ullam sit hic amet modi accusamus nesciunt. Eius id aliquid rerum maxime quod voluptatibus dolorem sit enim aut sed dolorem at. Expedita vel ratione perspiciatis voluptas non et quia eaque ea. Officia optio est hic autem harum laboriosam id. Quo et facere natus fugiat et corrupti. Exercitationem magni et facere harum. Vitae possimus eius et explicabo quidem laborum occaecati nemo neque. Rerum aut qui omnis. Velit hic velit ratione. Cupiditate vero eum facere consequatur ipsum recusandae ut. Fugit beatae debitis ut nisi ea deserunt est sint est totam quod voluptas. Quam voluptates officiis maxime ex eaque vero molestiae. Qui sed amet quo est laboriosam vitae et voluptatum possimus corporis. Ea quas laboriosam ea ea temporibus. Nisi non quia ut esse deleniti libero est est ipsum et voluptatem enim corrupti
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion3' data-toggle='collapse' href='#collapse3-2'>
                                  <div class='text-contrast'>Quas repudiandae sed qui non perspiciatis est et nobis et ratione ut</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse3-2'>
                                <div class='panel-body'>
                                  Dicta laudantium natus repellendus. Necessitatibus dolores facilis similique nobis quibusdam esse modi. Qui a esse labore. Aut consequuntur optio quam numquam asperiores nisi quae voluptatem. Enim reiciendis repellat aliquid laborum in fugiat. Laborum id totam voluptatem ut sunt. Et quia aut quo maiores maiores unde rerum sed consequuntur et quisquam non. Asperiores et recusandae a commodi ut sit vel voluptas. Rerum harum suscipit alias rerum quia aut molestiae voluptate explicabo. Ex consequatur omnis illo commodi consequuntur dolorum officia laboriosam et enim
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion3' data-toggle='collapse' href='#collapse3-3'>
                                  <div class='text-contrast'>Ex animi qui quia quia voluptatem voluptatem quia a blanditiis odit quam aspernatur quia eius</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse3-3'>
                                <div class='panel-body'>
                                  Necessitatibus molestias quia perspiciatis itaque laboriosam suscipit consequuntur nihil et ipsum. Dicta rerum optio earum ut enim et nam blanditiis ipsum dolorum numquam eos. Et nesciunt ut sed velit cum neque optio similique non vitae. Natus quod consectetur porro nisi hic aut enim atque. Error dolor debitis est cumque qui laboriosam sit corporis voluptatem ad cupiditate natus. Quas sunt harum assumenda eum corrupti totam et ut et explicabo. Itaque non et repellendus qui et. Libero voluptatem necessitatibus delectus cum optio ratione voluptatum tempora. Et corporis autem aut. Iste et porro dolores et soluta nostrum enim. Assumenda nam et sit. Mollitia qui placeat ut. Dolorem atque eum deleniti ea unde necessitatibus harum rerum exercitationem incidunt. Magnam eum quidem atque corporis ea eum. Dolorum rerum voluptatum quod sunt quidem qui ab omnis possimus vel nobis. Et dolorum natus rerum qui earum minus quaerat tempora deleniti qui illo porro dolore accusantium. Occaecati soluta et qui facere maxime. Similique dolores distinctio sit cum pariatur quasi quod maiores sunt in quidem qui id optio. Ullam eum temporibus unde veniam sunt eos. Placeat et voluptas corporis. Aperiam qui non ipsum dolor. Doloremque eum amet facere expedita. Voluptatem est est illo deleniti ut. Id assumenda voluptatem eos porro sed doloremque qui mollitia ratione et possimus. Dignissimos et aut ratione asperiores illo sit ut beatae numquam officiis ea quia harum. Sint vero eum necessitatibus. Commodi qui omnis in ipsam adipisci assumenda omnis dicta velit doloremque aut et possimus voluptate. Ducimus molestias et rerum occaecati illum nemo beatae ipsam dignissimos autem veniam dolorem. Inventore quo et ullam eaque doloribus consequuntur quia fugiat consequatur itaque. Qui perferendis qui non vel sit reprehenderit consectetur enim et perspiciatis vel culpa deleniti fuga
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion3' data-toggle='collapse' href='#collapse3-4'>
                                  <div class='text-contrast'>Aut mollitia sunt voluptatibus occaecati</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse3-4'>
                                <div class='panel-body'>
                                  Ea est dolore quas aut odit quas pariatur quod nemo vero. Cum voluptatum autem ut voluptate ad aut nesciunt dicta quod. Dignissimos voluptatem assumenda rerum dolorem iste eos sapiente veritatis est inventore repellat voluptas velit. Repellendus et esse delectus labore atque quam et eum aperiam laborum. Omnis voluptatibus eius eius fuga deserunt et repellat voluptatem quia omnis ut dolorem. Sed rem quia corrupti quaerat ut ab et distinctio accusamus cumque vitae asperiores. Rerum dolor labore voluptatem voluptatibus. Soluta aliquam aspernatur cumque illum nam itaque quae suscipit rem vero qui et exercitationem. Et fuga id perferendis dolores asperiores inventore doloribus voluptatum neque iure quas. Dolor mollitia tempore modi a reprehenderit voluptatum doloribus a omnis delectus. Et id quo facilis quia voluptatem possimus magnam saepe harum nostrum sed numquam at soluta. Dolore earum ut omnis quaerat saepe ad aliquam sunt ipsam ut sed. Corrupti vero nam molestiae et sit. Fugiat nostrum repudiandae sunt aliquid facere fugit sunt dicta repudiandae voluptatem ipsum rerum nostrum. Corporis consequuntur ducimus quia nam provident minus soluta mollitia voluptas hic quasi est mollitia. Unde aut harum vero sed. Quia in est delectus eum necessitatibus. Non voluptatem sit sunt impedit enim ex tenetur cupiditate. Error qui et fugit qui blanditiis soluta sit ut consectetur quod ducimus libero porro. Similique veniam in non quaerat iusto tempora ipsa nostrum tempore harum ut. Mollitia repellendus quibusdam enim sit unde aut dicta. Voluptatem fugiat dolorum aperiam ea vel et architecto officiis fuga
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion3' data-toggle='collapse' href='#collapse3-5'>
                                  <div class='text-contrast'>Ea veniam amet id non assumenda optio voluptatem</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse3-4'>
                                <div class='panel-body'>
                                  Ea est dolore quas aut odit quas pariatur quod nemo vero. Cum voluptatum autem ut voluptate ad aut nesciunt dicta quod. Dignissimos voluptatem assumenda rerum dolorem iste eos sapiente veritatis est inventore repellat voluptas velit. Repellendus et esse delectus labore atque quam et eum aperiam laborum. Omnis voluptatibus eius eius fuga deserunt et repellat voluptatem quia omnis ut dolorem. Sed rem quia corrupti quaerat ut ab et distinctio accusamus cumque vitae asperiores. Rerum dolor labore voluptatem voluptatibus. Soluta aliquam aspernatur cumque illum nam itaque quae suscipit rem vero qui et exercitationem. Et fuga id perferendis dolores asperiores inventore doloribus voluptatum neque iure quas. Dolor mollitia tempore modi a reprehenderit voluptatum doloribus a omnis delectus. Et id quo facilis quia voluptatem possimus magnam saepe harum nostrum sed numquam at soluta. Dolore earum ut omnis quaerat saepe ad aliquam sunt ipsam ut sed. Corrupti vero nam molestiae et sit. Fugiat nostrum repudiandae sunt aliquid facere fugit sunt dicta repudiandae voluptatem ipsum rerum nostrum. Corporis consequuntur ducimus quia nam provident minus soluta mollitia voluptas hic quasi est mollitia. Unde aut harum vero sed. Quia in est delectus eum necessitatibus. Non voluptatem sit sunt impedit enim ex tenetur cupiditate. Error qui et fugit qui blanditiis soluta sit ut consectetur quod ducimus libero porro. Similique veniam in non quaerat iusto tempora ipsa nostrum tempore harum ut. Mollitia repellendus quibusdam enim sit unde aut dicta. Voluptatem fugiat dolorum aperiam ea vel et architecto officiis fuga
                                </div>
                              </div>
                            </div>
                           </div>
                        </div>
                        <div class='tab-pane ' id='faq4'>
                          <div class='panel-group' id='accordion4'>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion4' data-toggle='collapse' href='#collapse4-1'>
                                  <div class='text-contrast'>Consequuntur nihil aut magnam et sunt et placeat neque inventore ut maiores pariatur saepe</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse4-1'>
                                <div class='panel-body'>
                                  Doloremque vel deleniti in aut porro consectetur quod illum repudiandae sed aliquam eos earum consequuntur. Dolorem dolores reiciendis est sit et quidem ut maiores minus repellendus cum qui voluptatem. Illo error sunt libero. Expedita expedita alias sed omnis quia repellat. Quos et ex quia. Cumque asperiores incidunt ipsum distinctio cum voluptatibus sequi praesentium delectus hic soluta. Ut fugiat vero rerum eos corrupti. Ut nobis blanditiis ut nobis dolor voluptate doloremque rerum. Qui ut error dolorem at qui. Voluptatibus perspiciatis corporis optio exercitationem. Voluptatum omnis exercitationem doloremque velit sint voluptatem omnis animi sit est. Blanditiis reprehenderit et quidem eveniet magni similique dolorum pariatur. Aut aut est ut omnis sint fugit adipisci id et possimus in. Excepturi temporibus deleniti accusamus. Reiciendis qui velit et. Tempore aperiam doloribus eum nulla accusamus eius facere et. Est rerum itaque rerum. A non ipsa similique quasi occaecati. Incidunt nihil nostrum aspernatur consequatur voluptatem illo deserunt provident illum est mollitia aperiam. Qui tenetur rerum enim ducimus voluptas error quos quia dicta et sint. Et libero nam repellat repellat ut fugiat magni accusantium aspernatur. Similique velit sunt consequuntur tenetur molestiae sunt fugit. Voluptatum laborum pariatur suscipit. Tenetur aut velit et odit veritatis esse enim qui occaecati nihil corporis dolor rem. Adipisci dolores officiis quis sit et et officia est repellendus. Quia qui dolore nulla id officiis vero laborum temporibus provident aliquid labore
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion4' data-toggle='collapse' href='#collapse4-2'>
                                  <div class='text-contrast'>Hic expedita eum est qui</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse4-2'>
                                <div class='panel-body'>
                                  Qui a doloribus quis ullam reiciendis qui ea aperiam rerum accusantium non. Molestiae neque rerum pariatur delectus sit. Quas sit sed consequatur omnis eveniet voluptates in soluta. Et doloribus sit incidunt quos vero aut aut voluptatem totam rerum commodi neque eius magnam. Sunt inventore ducimus similique sunt dicta nihil aspernatur et neque. Aspernatur consequuntur in suscipit ut nam voluptatem quos alias iste voluptatum minima doloremque dicta. Eveniet consequatur aperiam qui. Qui repudiandae voluptatibus saepe recusandae et consequatur et in quis pariatur eos ut ea. Sint illum praesentium optio et vero consectetur. Voluptatem facere iusto corporis officia debitis modi qui excepturi ad est. Sit inventore delectus libero. Placeat consequatur quisquam illum exercitationem porro iusto unde velit rerum enim magni ipsa possimus. Quibusdam dolor sapiente cupiditate omnis sit officia. Similique eos deleniti voluptate quidem aut quod laudantium modi autem fugiat possimus aperiam nesciunt nulla. Error voluptatem quidem ullam excepturi quis quia laudantium quia incidunt laudantium saepe libero eos consectetur
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion4' data-toggle='collapse' href='#collapse4-3'>
                                  <div class='text-contrast'>Occaecati sunt aut iste</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse4-3'>
                                <div class='panel-body'>
                                  Aliquam est aut nam saepe voluptatum non aut rerum et sunt neque officia dolorum porro. Repudiandae harum maiores in accusamus laudantium consequatur aliquid sunt omnis consequatur expedita dicta maiores. Perspiciatis non aut eveniet omnis perspiciatis beatae itaque quia neque sunt fugit voluptatem. Omnis est cupiditate provident sunt atque facere accusantium quibusdam ipsum harum voluptatem velit impedit. At non quia nemo fugiat qui vel ipsum atque qui animi quia earum pariatur. Eum nihil magnam aut et nisi reiciendis error corrupti dolorem eaque animi facere nam. Quia necessitatibus laborum accusantium temporibus. Aliquid eum totam et odio voluptas voluptatem dignissimos eaque. Accusantium molestiae neque laboriosam illum dolore qui. Ea autem ut quam sunt. Non et et aliquam animi voluptate et vitae dignissimos. Tenetur quidem optio minima sed et quidem vel in alias distinctio molestiae. Quaerat eos perferendis maxime a repellendus. Et sapiente facere et laborum nihil iusto eveniet quo dolores sit provident corrupti aut. Nemo ratione aut voluptatibus. Voluptatem pariatur facilis magnam aut ab aut voluptatem totam iusto enim. Quae nam ullam libero corporis repellendus dolorum consectetur quo soluta exercitationem. Sed rem dignissimos dolorum consequatur. Et officiis dolorum tempore. Laboriosam velit culpa saepe eos assumenda animi nisi qui vel. Minima voluptas aut dolor quos culpa dolores quisquam ipsa veritatis voluptas omnis. Labore iusto modi magni. Blanditiis aspernatur ipsam voluptate eum. Deserunt eaque similique quas. Fugiat nisi tempora suscipit eaque et aut minima et nisi qui veniam. Corporis molestiae laborum occaecati consequuntur necessitatibus. Non corrupti non nihil dolores neque similique illo ipsum quisquam dignissimos consequatur odio est aut. Ut cum voluptatem voluptatem eos repudiandae consequatur officiis ut modi incidunt
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion4' data-toggle='collapse' href='#collapse4-4'>
                                  <div class='text-contrast'>Sapiente sapiente vel est ut a delectus labore exercitationem</div>
                                </a>
                              </div>
                              <div class='panel-collapse collapse' id='collapse4-4'>
                                <div class='panel-body'>
                                  Consectetur quos occaecati autem enim iusto omnis omnis quod nihil nostrum sunt. Voluptatem saepe temporibus iusto at non. Dolorum officiis adipisci modi id corrupti eaque consequatur iusto omnis nemo voluptas. Molestias dignissimos ullam excepturi nam voluptatibus sed quam ratione dolorem vel. Quo omnis et illo. Debitis sequi consequatur qui modi fugit quos esse. Ut at sequi aut esse possimus et. Nobis dicta ullam quod et suscipit aut in. Quisquam autem corrupti nobis et quibusdam saepe optio. Et ipsum optio quasi et reprehenderit sint saepe neque consequatur eveniet beatae omnis. Et aut aperiam et et mollitia debitis optio repellendus in et. Voluptas consequatur adipisci consequatur magnam dolor at omnis laboriosam. Dicta odio ex eveniet. Mollitia sint facere officia hic est pariatur sunt quia. Asperiores rerum rerum sint sed aperiam sint odit ratione. Explicabo vitae rerum ut dolore sed officiis neque velit quis sit aperiam iste commodi tenetur
                                </div>
                              </div>
                            </div>
                            <div class='panel panel-default'>
                              <div class='panel-heading'>
                                <a class='accordion-toggle' data-parent='#accordion4' data-toggle='collapse' href='#collapse4-5'>
                                  <div class='text-contrast'>Et mollitia aut similique beatae quas enim totam ea</div>
                                </a>
                              </div>



                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
          {% include "footer.html"  %}
        </div>
      </section>
    </div>
    <!-- / jquery [required] -->
    <script src="{% static 'knockout-3.1.0.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/javascripts/jquery/jquery.min.js'%}" type="text/javascript"></script>
    <!-- / jquery mobile (for touch events) -->
    <script src="{% static 'assets/javascripts/jquery/jquery.mobile.custom.min.js'%}" type="text/javascript"></script>
    <!-- / jquery migrate (for compatibility with new jquery) [required] -->
    <script src="{% static 'assets/javascripts/jquery/jquery-migrate.min.js'%}" type="text/javascript"></script>
    <!-- / jquery ui -->
    <script src="{% static 'assets/javascripts/jquery/jquery-ui.min.js'%}" type="text/javascript"></script>
    <!-- / jQuery UI Touch Punch -->
    <script src="{% static 'assets/javascripts/plugins/jquery_ui_touch_punch/jquery.ui.touch-punch.min.js'%}" type="text/javascript"></script>
    <!-- / bootstrap [required] -->
    <script src="{% static 'assets/javascripts/bootstrap/bootstrap.js'%}" type="text/javascript"></script>
    <!-- / modernizr -->
    <script src="{% static 'assets/javascripts/plugins/modernizr/modernizr.min.js'%}" type="text/javascript"></script>
    <!-- / retina -->
    <script src="{% static 'assets/javascripts/plugins/retina/retina.js'%}" type="text/javascript"></script>
    <!-- / theme file [required] -->
    <script src="{% static 'assets/javascripts/theme.js'%}" type="text/javascript"></script>
    <!-- / demo file [not required!] -->
    <script src="{% static 'assets/javascripts/demo.js'%}" type="text/javascript"></script>
    <script src="{% static 'knockout-3.1.0.js' %}" type="text/javascript"></script>
    <!-- / START - page related files and scripts [optional] -->

    <!-- / END - page related files and scripts [optional] -->
     <!-- / START -Table page related files and scripts [optional]-->
    <script src="{% static 'assets/javascripts/plugins/datatables/jquery.dataTables.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/javascripts/plugins/datatables/jquery.dataTables.columnFilter.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/javascripts/plugins/datatables/dataTables.overrides.js'%}" type="text/javascript"></script>
    <!-- / END - Table page related files and scripts [optional] -->





			    <!-- / START - Widget page related files and scripts [optional] -->
			    <script src="{% static 'assets/javascripts/plugins/slimscroll/jquery.slimscroll.min.js'%}" type="text/javascript"></script>
			    <!-- / END - page related files and scripts [optional] -->

			              <!-- / START - pop up page related files and scripts [optional] -->
			    <script src="{% static 'assets/javascripts/plugins/tabdrop/bootstrap-tabdrop.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/bootbox/bootbox.min.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/jgrowl/jquery.jgrowl.min.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/typeahead/typeahead.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/timeago/jquery.timeago.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/nestable/jquery.nestable.js'%}" type="text/javascript"></script>

    <!-- / END - pop up page related files and scripts [optional] -->
				{% include "credits.html" %}


  </body>
</html>
