<footer id='footer' style ="margin-top: 20px;">
<div class='footer-wrapper'>
  <div class='row'>
    <div class='col-sm-6 text'>
      Copyright &copy; 2014 <a title="corefactors" target="blank" href="http://www.corefactors.in/" style="text-decoration:none">www.corefactors.in</a>.
    </div>
	<div class='col-sm-6 buttons'>
      <a class="btn btn-link" href="http://shop.corefactors.in/" style="text-decoration:none">Buy Now</a>
      <!-- <a class="btn btn-link" href="http://teleduce.in/" style="text-decoration:none">Teleduce</a> -->
    </div>
  </div>
</div>
</footer>
