<header>
      <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/dashboard/">
			<h4 style="color:#fff">Teleduce</h4>
          </a>
        <a class="toggle-nav btn pull-left" href="#">
          <i class="icon-reorder"></i>
        </a>
        <ul class="nav">


          <li class="dropdown medium only-icon widget">
             <a data-toggle="modal" href="#modal-example" role="button">Credits</a>
          </li>
          <li class="dropdown medium only-icon widget">
             <a data-toggle="modal" href="/FAQ/" role="button">Help</a>
          </li>
          <li class="dropdown dark user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <div class="text-error icon-user align-left"></div>
              <span class="user-name">{{ customer }}</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <!-- <li>
                <a href='user_profile.html'>
                  <i class='icon-user'></i>
                  Profile
                </a>
              </li>
              <li>
                <a href='user_profile.html'>
                  <i class='icon-cog'></i>
                  Settings
                </a>
              </li> -->
              <li class="divider"></li>
              <li>
                <a href="/logout">
                  <i class="icon-signout"></i>
                  Sign out
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <form action="" class="navbar-form navbar-right hidden-xs" method="get">
          <button class="btn btn-link icon-search" name="button" type="submit"></button>
          <div class="form-group">
            <input value="" class="form-control" placeholder="Search..." autocomplete="off" id="q_header" name="q" type="text">
          </div>
        </form>
      </nav>
    </header>