{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title> Teleduce | Sign in </title>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta content='text/html;charset=utf-8' http-equiv='content-type'>
    <meta content='Flat administration template for Twitter Bootstrap. Twitter Bootstrap 3 template with Ruby on Rails support.' name='description'>
    <link href="{% static 'assets/images/meta_icons/favicon.ico' %}" rel='shortcut icon' type='image/x-icon'>
    <link href="{% static 'assets/images/meta_icons/apple-touch-icon.png' %}" rel='apple-touch-icon-precomposed'>
    <link href="{% static 'assets/images/meta_icons/apple-touch-icon-57x57.png' %}" rel='apple-touch-icon-precomposed' sizes='57x57'>
    <link href="{% static 'assets/images/meta_icons/apple-touch-icon-72x72.png' %}" rel='apple-touch-icon-precomposed' sizes='72x72'>
    <link href="{% static 'assets/images/meta_icons/apple-touch-icon-114x114.png' %}" rel='apple-touch-icon-precomposed' sizes='114x114'>
    <link href="{% static 'assets/images/meta_icons/apple-touch-icon-144x144.png' %}" rel='apple-touch-icon-precomposed' sizes='144x144'>
    <link href="{% static 'assets/stylesheets/bootstrap/bootstrap.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/stylesheets/light-theme.css' %}" media="all" id="color-settings-body-color" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/stylesheets/theme-colors.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/stylesheets/demo.css' %}" media="all" rel="stylesheet" type="text/css" />
   </head>
  <body class='contrast-red login contrast-background' >
    <div class='middle-container'>
      <div class='middle-row'>
        <div class='middle-wrapper'>
          <div class='login-container-header'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='text-center'>
                    <h2 style="color:#fff">Teleduce</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='login-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-4 col-sm-offset-4'>
                  <h1 class='text-center title'>Sign in</h1>
                  <form action='' class='validate-form' method='POST'>{% csrf_token %}
                  <span style="color:#b94a48;">{{ error }}</span>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <input value="" placeholder="Username" class="form-control" data-rule-required="true"  name="username" type="text" id="username" />
                        <i class='icon-user text-muted'></i>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='controls with-icon-over-input'>
                        <input value="" placeholder="Password" class="form-control" data-rule-required="true" name="password" type="password" />
                        <i class='icon-lock text-muted'></i>
                      </div>
                    </div>
                    <div class='checkbox'>
                      <label for='remember_me'>
                        <input id='remember_me' name='remember_me' type='checkbox' value='1'>
                        Remember me
                      </label>
                    </div>
                    <button class='btn btn-block'>Sign in</button>
                  </form>
                  <div class='text-center'>
                    <hr class='hr-normal'>
                    <!-- <a href='#'>Forgot your password?</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='login-container-footer'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='text-center'>
                    <!-- <a href='#'>
                      <i class='icon-user'></i>
                      New User?
                      <strong>Sign up</strong>
                    </a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / jquery [required] -->
    <script src="{% static 'assets/javascripts/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <!-- / jquery mobile (for touch events) -->
    <script src="{% static 'assets/javascripts/jquery/jquery.mobile.custom.min.js' %}" type="text/javascript"></script>
    <!-- / jquery migrate (for compatibility with new jquery) [required] -->
    <script src="assets/javascripts/jquery/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- / jquery ui -->
    <script src="{% static 'assets/javascripts/jquery/jquery-ui.min.js' %}" type="text/javascript"></script>
    <!-- / jQuery UI Touch Punch -->
    <script src="{% static 'assets/javascripts/plugins/jquery_ui_touch_punch/jquery.ui.touch-punch.min.js' %}" type="text/javascript"></script>
    <!-- / bootstrap [required] -->
    <script src="{% static 'assets/javascripts/bootstrap/bootstrap.js' %}" type="text/javascript"></script>
    <!-- / modernizr -->
    <script src="{% static 'assets/javascripts/plugins/modernizr/modernizr.min.js' %}" type="text/javascript"></script>
    <!-- / retina -->
    <script src="{% static 'assets/javascripts/plugins/retina/retina.js' %}" type="text/javascript"></script>
    <!-- / theme file [required] -->
    <script src="{% static 'assets/javascripts/theme.js' %}" type="text/javascript"></script>
    <!-- / demo file [not required!] -->
    <script src="{% static 'assets/javascripts/demo.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/javascripts/plugins/validate/jquery.validate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/javascripts/plugins/validate/additional-methods.js' %}" type="text/javascript"></script>

    <script>
      $.validator.addMethod("buga", (function(value) {
        return value === "buga";
      }), "Please enter \"buga\"!");

      $.validator.methods.equal = function(value, element, param) {
        return value === param;
      };
    </script>
    <!-- / END - page related files and scripts [optional] -->
  </body>
</html>
