<!DOCType html>
<html>
	<head><title>Mail Content</title></head>
	<body>
		<table cellpadding ="5px" cellspacing ="5px">
			<thead>
				<tr><th>No of IncommingSMS</th>
				<th>FromNumber</th></tr>
			<thead>
			<tbody>
				<tr><td>{{ total_count_records }}</td></tr>
				<tr><td>8867672535</td></tr>
			</tbody>
		</table>
	</body>
</html>