
          <ul class='nav nav-stacked'>

          	{% for groupname in groupnames %}


          		{% if groupname.name == 'REFERRAL' %}
					<li class=''>
                      <a class="dropdown-collapse" href="#"><i class='icon-edit'></i>
		              	<span>tReferral</span>
		              	<i class='icon-angle-down angle-down'></i>
              		  </a>

		              <ul class='nav nav-stacked'>
		                <li class=''>
							<a href ="{% url 'referral.views.view_report' %}">
		                    <i class='icon-caret-right'></i>
		                    <span>Report</span>
		                </a>
		                </li>
		                <li class=''>
							<a href ="{% url 'referral.views.upload_referral_csv' %}">
		                    <i class='icon-caret-right'></i>
		                    <span>Upload</span>
		                 	</a>
		                </li>
		              </ul>



          		{% elif groupname.name == 'MISSEDCALL' %}
          			<li class=''>
		                  <a href="{% url 'missed_call.views.view_missedcall_report' %}">
		                    <i class='icon-edit'></i>
		                    <span>tMissedCall</span>
		                  </a>
                	</li>

                {% elif groupname.name == 'INCOMINGSMS' %}
          			<li class=''>
		                  <a href="{% url 'long_code.views.view_longcode_report' %}">
		                    <i class='icon-edit'></i>
		                    <span>tInbound SMS</span>
		                  </a>
                	</li>


          		{% endif %}

          	{% endfor %}
          	<li class=''>
		                  <a href="{% url 'calllist_app.views.calllist_reports' %}">
		                    <i class='icon-edit'></i>
		                    <span>tCallList</span>
		                  </a>
             </li>

          </ul>

