				 {% load staticfiles %}
				 <!-- / START - pop up page related files and scripts [optional] -->
			    <script src="{% static 'assets/javascripts/plugins/tabdrop/bootstrap-tabdrop.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/bootbox/bootbox.min.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/jgrowl/jquery.jgrowl.min.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/typeahead/typeahead.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/timeago/jquery.timeago.js'%}" type="text/javascript"></script>
			    <script src="{% static 'assets/javascripts/plugins/nestable/jquery.nestable.js'%}" type="text/javascript"></script>
				<script>
				      $("#alert-example").live("click", function(e) {
				        bootbox.alert({
				          message: "I am alert!",
				        });
				        return false;
				      });


				      $("#notification1").live("click", function(e) {
				        $.jGrowl("Lorem ipsum dolor sit amet...");
				        return false;
				      });

				      $("#notification2").live("click", function(e) {
				        $.jGrowl("Lorem ipsum dolor sit amet...", {
				          sticky: false;
				        });
				        return false;
				      });

				      var date, months, timeago;
				      selector = $("#timeago-example");
				      date = new Date();
				      months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
				      timeago = selector;
				      timeago.attr("title", "" + months[date.getMonth()] + " " + (date.getDate()) + ", " + (date.getFullYear()) + " " + (date.getHours()) + ":" + (date.getMinutes()));
				      timeago.text("" + months[date.getMonth()] + " " + (date.getDate()) + ", " + (date.getFullYear()) + " " + (date.getHours()) + ":" + (date.getMinutes()));
				      timeago.timeago();


				      $("#slider-example > span").each(function() {
				        var value;
				        value = parseInt($(this).text(), 10);
				        return $(this).empty().slider({
				          value: value,
				          range: "min",
				          animate: true,
				          orientation: "vertical"
				        });
				      });

				      $("#slider-example1").slider({
				        value: 100,
				        min: 0,
				        max: 500,
				        step: 50,
				        slide: function(event, ui) {
				          return $("#slider-example1-amount").text("$" + ui.value);
				        }
				      });

				      $("#slider-example1-amount").text("$" + $("#slider-example1").slider("value"));

				      $("#slider-example2").slider({
				        range: true,
				        min: 0,
				        max: 500,
				        values: [75, 300],
				        slide: function(event, ui) {
				          return $("#slider-example2-amount").text("$" + ui.values[0] + " - $" + ui.values[1]);
				        }
				      });

				      $("#slider-example2-amount").text("$" + $("#slider-example2").slider("values", 0) + " - $" + $("#slider-example2").slider("values", 1));
			    </script>
    <!-- / END - pop up page related files and scripts [optional] -->

   					 <div class='modal fade' id='modal-example2' tabindex='-1'>
                      <div class='modal-dialog'>
                        <div class='modal-content'>
                          <div class='modal-header'>
                            <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                            <h4 class='modal-title' id='myModalLabel'>Add Customer Form</h4>
                          </div>
							<span style=" color:#F00; margin-left: 20px;; font-family:'Bree+Serif'; font-size:20px;"id="cn"></span>



                          <div class='modal-body'>
                              <form class="form" style="margin-bottom: 0;" method="post" action="/add_customer/" accept-charset="UTF-8" name="form" ><input name="authenticity_token" type="hidden" /><div class='form-group'>{% csrf_token %}
                              <!-- {{ credit_error }} -->

                              <label for='inputText1'>Customer Name</label>
                              <div class='form-group'>
                              	<div class='controls with-icon-over-input'>
                              		<input value="" placeholder='Customer Name' class="form-control" data-rule-required="true"  name="Customer_Name" type="text" id="Customer_Name" />

                              	</div>
                              </div>

                              <!-- <div class='controls with-icon-over-input'>
	                              <input class='form-control' id='inputText1' placeholder='Customer Name' type='text' name="Customer_Name" data-rule-required="true"/>
	                              <span style="color:#b94a48;">{{ Custom_warning }}</span>

                      		  </div>
                            </div> -->
                            <div class='form-group'>
                              <label for='inputPassword4'>Mobile Number</label>
                              <div class='controls with-icon-over-input'>
	                              <input class='form-control' id='inputPassword4' placeholder='Mobile Number' type='text' value='' name="mobilenumber" data-rule-required="true"/>
	                             <!-- <span style="color:#b94a48;">{{ Custom_warning }}</span> -->

                      		  </div>
                            </div>
							<button class="btn btn-info" style = "margin-left: 480px;" onClick="return validation();" >Save</button> <!-- <button class="btn btn-info" style = "margin-left: 5px;" aria-hidden='true' onClick="return close();">cancel</button> -->
                            </div>
                            </form>

                          </div></div></div></div>