{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title> Teleduce | tReferral-Upload CSV</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta content='text/html;charset=utf-8' http-equiv='content-type'>
    <meta content='Flat administration template for Twitter Bootstrap. Twitter Bootstrap 3 template with Ruby on Rails support.' name='description'>
    <!-- / bootstrap [required] -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/bootstrap/bootstrap.css' media="all" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/light-theme.css' media="all" id="color-settings-body-color" %}"></head>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/demo.css' media="all"  %}">
    <!-- / START - page related stylesheets [optional] -->
    <link href="{% static 'assets/stylesheets/plugins/tabdrop/tabdrop.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/stylesheets/plugins/jgrowl/jquery.jgrowl.min.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/stylesheets/jquery/jquery_ui.css' %}" media="all" rel="stylesheet" type="text/css" />
    <!-- / END - page related stylesheets [optional] -->
  </head>
  <body class='contrast-red '>
	{% include "header.html" %}
    <div id='wrapper'>
      <div id='main-nav-bg'></div>
      <nav id='main-nav'>
        <div class='navigation'>
          <div class='search'>
            <form action='search_results.html' method='get'>
              <div class='search-wrapper'>
                <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
                <button class='btn btn-link icon-search' name='button' type='submit'></button>
              </div>
            </form>
          </div>
          {% include "menu.html" %}

        </div>
      </nav>
        <section id='content'>
        <div class='container'>
          <div class='row' id='content-wrapper'>
            <div class='col-xs-12'>

            <div class="row" style="margin-top: 20px;">
    		{% if credits_error %}
    			<div class='alert alert-warning alert-dismissable' style="margin-left:19px;" id="notification1">
                           <a class="close" data-dismiss="alert" href="#">&times;</a>


                            <i class='icon-exclamation-sign'></i>

										{{ credits_error }}
                 </div>
                  {% endif %}
                  {% if existnumber_count %}
    			<div class='alert alert-warning alert-dismissable' style="margin-left:19px;" id="notification1">
                           <a class="close" data-dismiss="alert" href="#">&times;</a>


                            <i class='icon-exclamation-sign'></i>

										{{ existnumber_count }}
                 </div>
                  {% endif %}
    		{% if message %}
    			<div class='alert alert-warning alert-dismissable' style="margin-left:19px;" id="notification1">
                           <a class="close" data-dismiss="alert" href="#">&times;</a>


                            <i class='icon-exclamation-sign'></i>



								{% for msg in message %}
								<small>{{ msg }}</small>

								<!--  <span style=" color:#c09853; margin-left: 20px;; font-family:'Bree+Serif'; font-size:20px;"id="cn1">{{ msg }}</span> -->
								{% endfor %}



                  </div>
                  {% endif %}
                <div class="col-sm-12">
                    <!-- <div class="row" style="margin-left: 300px;"> -->
                    	<div class="box bordered-box blue-border">
                    <div class="box-header blue-background">
                      <div class="title">
                        <i class="icon-file"></i>
                        FILE UPLOAD
                      </div>
                      <div class="actions">
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class="box-content box-double-padding">
                      <form enctype="multipart/form-data" action="/referral/upload/" class='validate-form' method='POST'>{% csrf_token %}

                        <fieldset>
                          <div class="col-sm-4">
                            <div class="box">
                              <div class="lead">
                                <i class="icon-file"></i>
                                FILE UPLOAD
                              </div>
                              <small class="text-muted">

                              	Upload CSV file with Column A as Customer Name and Column B as Mobile Number(10 Digits) without header.
                              	<img src="/static/assets/images/Upload CSV .PNG" ></img>

                              </small>
                            </div>
                          </div>
                          <div class="col-sm-7 col-sm-offset-1">

                            <div class="form-group">

                               {{form.as_p}}
                               <button class="btn btn-primary btn-sm" >Upload</button>

                            </div>
                          </div>

                            </div>

                          </div>
                        </fieldset>

                      </form>
                    </div>
                  </div>

                </div>

                </div>
              </div>
			{% include "footer.html"  %}
        </div>
      </section>
    </div>

    <script src="{% static 'assets/javascripts/jquery/jquery.min.js'%}" type="text/javascript"></script>

    <script src="{% static 'assets/javascripts/jquery/jquery.mobile.custom.min.js'%}" type="text/javascript"></script>

    <script src="{% static 'assets/javascripts/jquery/jquery-migrate.min.js'%}" type="text/javascript"></script>

    <script src="{% static 'assets/javascripts/jquery/jquery-ui.min.js'%}" type="text/javascript"></script>

    <script src="{% static 'assets/javascripts/plugins/jquery_ui_touch_punch/jquery.ui.touch-punch.min.js'%}" type="text/javascript"></script>

    <script src="{% static 'assets/javascripts/bootstrap/bootstrap.js'%}" type="text/javascript"></script>

    <script src="{% static 'assets/javascripts/plugins/modernizr/modernizr.min.js'%}" type="text/javascript"></script>

    <script src="{% static 'assets/javascripts/plugins/retina/retina.js'%}" type="text/javascript"></script>

    <script src="{% static 'assets/javascripts/theme.js'%}" type="text/javascript"></script>

    <script src="{% static 'assets/javascripts/demo.js'%}" type="text/javascript"></script>
     <script src="{% static 'assets/javascripts/demo.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/javascripts/plugins/validate/jquery.validate.min.js' %}" type="text/javascript"></script>
                  <!-- <script src="{% static 'assets/javascripts/plugins/validate/additional-methods.js' %}" type="text/javascript"></script>
                  <script>
                  $.validator.addMethod("buga", (function(value) {
                  return value === "buga";
                  }), "Please enter \"buga\"!");
                  $.validator.methods.equal = function(value, element, param) {
                  return value === param;
                  };
                  </script> -->

				{% include "credits.html" %}

  </body>
</html>
