{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Teleduce |  tReferral-Report</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta content='text/html;charset=utf-8' http-equiv='content-type'>
    <meta content='Flat administration template for Twitter Bootstrap. Twitter Bootstrap 3 template with Ruby on Rails support.' name='description'>

    <!-- / bootstrap [required] -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/bootstrap/bootstrap.css' media="all" %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/light-theme.css' media="all" id="color-settings-body-color" %}"></head>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/demo.css' media="all"  %}">
    <link href="{% static 'assets/stylesheets/theme-colors.css' media="all" rel="stylesheet" type="text/css" %}" />
    <!-- / START - page related stylesheets [optional] -->
    <link href="{% static 'assets/stylesheets/plugins/tabdrop/tabdrop.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/stylesheets/plugins/jgrowl/jquery.jgrowl.min.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/stylesheets/jquery/jquery_ui.css' %}" media="all" rel="stylesheet" type="text/css" />
    <!-- / END - page related stylesheets [optional] -->
<script>
 function validation()

 {
 	  var ck_name = /^[A-Za-z ]{3,20}$/;
 	  var phonepattern=/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;

 	  if(document.form.Customer_Name.value==""){
		 document.getElementById("cn").innerHTML="Enter Customer Name";
		 return false;
	 }
	 if(!ck_name.test(document.form.Customer_Name.value)|| !isNaN(document.form.Customer_Name.value)){
		 document.getElementById("cn").innerHTML="Customer Name should be Characters Only (Mininum 3 characters)";
		 return false;

	 }
	 if(document.form.mobilenumber.value==""){
		 document.getElementById("cn").innerHTML="Enter MobileNumber";
		 return false;
	 }
	if( !phonepattern.test(document.form.mobilenumber.value)){
		 document.getElementById("cn").innerHTML="Enter valid MobileNumber";
		 return false;
	 }



}

function close()
{
window.location.href="http://127.0.0.1:8000/referral/reports/";
}
</script>



  </head>
  <body class='contrast-red '>
    {% include "header.html" %}
    <div id='wrapper'>
      <div id='main-nav-bg'></div>
      <nav id='main-nav'>
        <div class='navigation'>
          <div class='search'>
            <form action='search_results.html' method='get'>
              <div class='search-wrapper'>
                <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
                <button class='btn btn-link icon-search' name='button' type='submit'></button>
              </div>
            </form>
          </div>
          {% include "menu.html" %}

        </div>
      </nav>

    </div>
    <!-- / jquery [required] -->
    <script src="{% static 'knockout-3.1.0.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/javascripts/jquery/jquery.min.js'%}" type="text/javascript"></script>
    <!-- / jquery mobile (for touch events) -->
    <script src="{% static 'assets/javascripts/jquery/jquery.mobile.custom.min.js'%}" type="text/javascript"></script>
    <!-- / jquery migrate (for compatibility with new jquery) [required] -->
    <script src="{% static 'assets/javascripts/jquery/jquery-migrate.min.js'%}" type="text/javascript"></script>
    <!-- / jquery ui -->
    <script src="{% static 'assets/javascripts/jquery/jquery-ui.min.js'%}" type="text/javascript"></script>
    <!-- / jQuery UI Touch Punch -->
    <script src="{% static 'assets/javascripts/plugins/jquery_ui_touch_punch/jquery.ui.touch-punch.min.js'%}" type="text/javascript"></script>
    <!-- / bootstrap [required] -->
    <script src="{% static 'assets/javascripts/bootstrap/bootstrap.js'%}" type="text/javascript"></script>
    <!-- / modernizr -->
    <script src="{% static 'assets/javascripts/plugins/modernizr/modernizr.min.js'%}" type="text/javascript"></script>
    <!-- / retina -->
    <script src="{% static 'assets/javascripts/plugins/retina/retina.js'%}" type="text/javascript"></script>
    <!-- / theme file [required] -->
    <script src="{% static 'assets/javascripts/theme.js'%}" type="text/javascript"></script>
    <!-- / demo file [not required!] -->
    <script src="{% static 'assets/javascripts/demo.js'%}" type="text/javascript"></script>
    <script src="{% static 'knockout-3.1.0.js' %}" type="text/javascript"></script>
    <!-- / START - page related files and scripts [optional] -->

    <!-- / END - page related files and scripts [optional] -->
     <!-- / START -Table page related files and scripts [optional]-->
    <script src="{% static 'assets/javascripts/plugins/datatables/jquery.dataTables.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/javascripts/plugins/datatables/jquery.dataTables.columnFilter.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/javascripts/plugins/datatables/dataTables.overrides.js'%}" type="text/javascript"></script>
    <!-- / END - Table page related files and scripts [optional] -->
 <section id='content'>
        <div class='container'>
          <div class='row' id='content-wrapper'>
            <div class='col-xs-12'>
              <div class="row" style="margin-top: 20px;">
				{% if credits_error %}
    			<div class='alert alert-warning alert-dismissable' style="margin-left:19px;" id="notification1">
                           <a class="close" data-dismiss="alert" href="#">&times;</a>


                            <i class='icon-exclamation-sign'></i>
								{{ credits_error }}
                  </div>
                  {% endif %}

				{% if messages %}
    			<div class='alert alert-warning alert-dismissable' style="margin-left:19px;" id="notification1">
                           <a class="close" data-dismiss="alert" href="#">&times;</a>


                            <i class='icon-exclamation-sign'></i>



								{% for message in messages %}
										{{ message }}

								{% endfor %}



                  </div>
                  {% endif %}
                <div class="col-sm-12">
                  <div class='box bordered-box orange-border' style='margin-bottom:0;'>
                    <div class='box-header purple-background'>
                      <div class='title'>Customer Info</div>
                      <div class='actions'>

                      	<a class="btn btn-primary btn-sm" data-toggle="modal" href="#modal-example2" role="button" >Add Customer</a>
                       <!--  <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i> -->
                        <!-- </a> -->
                        <a class="btn btn-primary btn-sm" data-toggle="modal" href="{% url 'referral.views.export_csv' %}" role="button" >Export CSV</a>

                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content box-no-padding'>
                      <div class='responsive-table'>
                        <div class='scrollable-area'>

                          <table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>

                            <thead>
                              <tr>
                                <th>
                                  Customer Name
                                </th>
                                <th>
                                  Customer Mobile Number
                                </th>
                                <th>
                                  Date
                                </th>
                                <th>
                                	Referral Count
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for report_data in report_data_list %}
                           			<tr role="row">
	                           			<td>{{ report_data.customer_name }}</td>
	                           			<td>{{ report_data.customer_mobile_number }}</td>
	                           			<td>{{ report_data.customer_date }}</td>
	                           			<td><a href="{% url 'referral.views.view_report' %}?id={{ report_data.customer_id }}" style = "text-decoration:none">{{ report_data.referral_info_count}}</a></td>
	                           		</tr>
								{% endfor %}


                            </tbody>
                             <tfoot>
                            <tr>
                              <th>Customer Name</th>
                              <th>Customer Mobile Number</th>
                              <th >Date</th>
                              <th >SMS Text</th>
                            </tr>
                          </tfoot>

                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class='col-sm-12' style = "margin-top:10px">
                  <div class='box bordered-box orange-border' style='margin-bottom:0;'>
                    <div class='box-header purple-background'>
                      <div class='title'>Referral Info</div>
                      <div class='actions'>
                        <!-- <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>-->

                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content box-no-padding'>
                      <div class='responsive-table'>
                        <div class='scrollable-area'>
                          <table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>
                            <thead>
                              <tr>
                                <th>
                                  Referral Name
                                </th>
                                <th>
                                  Referral Mobile Number
                                </th>
                                <th>
                                  Referral Date
                                </th>

                              </tr>
                            </thead>
                            <tbody>
                              {% for report_data in report_data_list1 %}
                           			<tr role="row">
	                           			<td>{{ report_data.name }}</td>
	                           			<td>{{ report_data.mobile_number }}</td>
	                           			<td>{{ report_data.created_at }}</td>
	                           		</tr>
                               {% endfor %}


                            </tbody>

                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
				{% include "footer.html" %}
				</div>
        		</section>
 			    <!-- / START - Widget page related files and scripts [optional] -->
			    <script src="{% static 'assets/javascripts/plugins/slimscroll/jquery.slimscroll.min.js'%}" type="text/javascript"></script>
			    <!-- / END - page related files and scripts [optional] -->


				{% include "Popup.html" %}
				{% include "credits.html" %}
  </body>
</html>
