<!DOCTYPE html>
<html>
    <head>
        <title> Customer List  </title>
    </head>
    <body>
        <h1> Customer List </h1>
        <div> Customer Count : {{ customer_count }} </div>
        <br> <br> <br>
        <table border="1px">
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Name </th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
	                <tr>
	                    <td> {{ customer.id }} </td>
	                    <td> {{ customer.name }} </td>
	                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
