<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h2>Create Object from JSON String</h2>
        <p>
            First Name: <span id="fname"></span><br>
            Last Name: <span id="lname"></span><br>
        </p>
        <script>
            var txt = '{{ json_str }}';
            var obj = eval ("(" + txt + ")");
            document.getElementById("fname").innerHTML=obj.employees[1].firstName;
            document.getElementById("lname").innerHTML=obj.employees[1].lastName;
        </script>
    </body>
</html>
